@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.mycard {
  background-color: #222831;
  height: 23rem;
  border-radius: 30px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: fixed; 
  top: 50px;
  right: 50px;
  z-index: 11;
}
.mycontainer{
  display: none;
}
.small-container{
  display:block;
}
.mycard__name {
  margin-top: 25px;
  font-size:calc(7px + 1vw);
}

.mycard img {
  height: 140px;
  width: 10vw;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgb(155, 17, 17); 
}




.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #a71e1e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}


.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #a6242a);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size:calc(3.5px + 1vw);
  margin-top: 8px;
}
  @media (max-width:1200px){
     .mycard img{
      width: 11vw;
      height: 130px;
     }
     .social-icons a:before{
      height: 39px;
      width: 39px;
     }
     .social-icons i{
      top: 0.75em;
      left: 0.75em;
     }
     .mycard{
      height: 20rem;
      width: 21vw;
     }
  }
  @media (max-width:1050px){
    .mycard img{
     width: 12vw;
     height: 120px;
    }
    .social-icons a:before{
      height: 3vw;
      width: 3vw;
    }
    .social-icons i{
      top: 0.47em;
      left: 0.47em;
     }
     .mycard{
      height: 17rem;
     }
 }
 @media (max-width:900px){
  .mycard img{
    width: 13vw;
    height: 110px;
   }
  .social-icons a:before{
    height: 3vw;
    width: 3vw;
  }
  .social-icons i{
    top: 0.3em;
    left: 0.3em;
   }
}
@media (max-width:700px){
  .mycard img{
    width: 16vw;
    height: 100px;
   }
  .social-icons a:before{
    height: 4vw;
    width: 4vw;
  }
  .social-icons i{
    top: 0.3em;
    left: 0.3em;
   }
   .mycard__name {
    margin-top: 25px;
    font-size:calc(4px + 1vw);
  }
  .grid-container {
    font-size:calc(3px + 1vw);
    grid-gap: 8px;
  }
  .mycard{
    width: 27vw;
    height: 15rem;
   }
}
@media (max-width:500px){
  .mycard img{
    width: 18vw;
    height: 90px;
   }
  .social-icons a:before{
    height: 5vw;
    width: 5vw;
  }
  .social-icons i{
    top: 0.2em;
    left: 0.2em;
   }
   .mycard{
    width: 35vw;
    height: 14rem;
   }
}